$bg-good-color: #498CEC;
$bg-bad-color: #51657E;

$primary-theme-color: #1086FF;
$secondary-theme-color: #6DA3F0;

$primary-font-color: #FFF;
$secondary-font-color: #000;

$white: #FFF;

$disabled-color: #CCC;
